<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finding nemo</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>
<body>
    <div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <h1 style="text-align: center"> Finding Nemo </h1>
                            <br>
                            <br>

                            <form class="card card-sm" method="post" action="/search">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords" name="search">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
            <br>
            <br>

        {% if search_query %}
        <h4>Results for {{search_query}}</h4>
        {%endif%}

        {% for i in resp_obj %}
            <br>
              <a href={{i.url}}>{{i.name}}</a>
            <br>
                {{i.location}}
            <br>
            <br>
                {{i.intro}}
            <br>
            <br>
                {{i.job}}
            <br>
            <br>
                {%if i.about is not none%}
                    {{i.about}}
                {%endif%}
            <br>
            <br>

                {% for j in i.education %}
                    School : {{j.schoolName}}
                    <br>
                    Degree : {{j.degreeName}}
                    <br>
                    Field of Study : {{j.fieldOfStudy}}
                    <br>
                    <br>
                {%endfor%}
            <br>
            <br>
            <br>
            <br>
            {% for j in i.skills %}
                Skill : {{j.skillName}}
                <br>
                Enodoresment count : {{j.endorsementCount}}
                <br>
                <br>
            {%endfor%}
            <br>
            <br>
        {% endfor %}
</div>
</body>
</html>